<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
        style="
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        height: 100%;
    "
>
<head>
    <meta charset="utf-8"/>
    <title>이메일 인증</title>
    <style id="globals">
        @font-face {
            font-family: "Pretendard-Medium";
            src: url("https://anima-uploads.s3.amazonaws.com/projects/652c3450456268e27eebc9fd/fonts/gothica1-bold.ttf")
            format("truetype");
        }
        @font-face {
            font-family: "Pretendard-Light";
            src: url("https://anima-uploads.s3.amazonaws.com/projects/652446fe8f427b0cdbc0a73d/fonts/pretendard-light.otf")
            format("opentype");
        }
        @font-face {
            font-family: "Pretendard-Regular";
            src: url("https://anima-uploads.s3.amazonaws.com/projects/5f06a5517739f30d3a8fc967/fonts/pretendard-regular.otf")
            format("opentype");
        }
        @font-face {
            font-family: "Pretendard-SemiBold";
            src: url("https://anima-uploads.s3.amazonaws.com/projects/6122f3f935181493bb5c6c35/fonts/pretendard-semibold.otf")
            format("opentype");
        }
    </style>
</head>
<body
    style="
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        height: 100%;
    "
>
<div style="width: 100%; height: 100%; background-color: #f1f3f5;
        display: flex; justify-content: center; align-items: center; padding: 20px">
    <div
        class="screen"
        style="
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 658px;
            height: 761px;
        "
    >
        <div style="vertical-align: top">
            <div class="div"
                style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    text-align: left;
                ">
                <div class="overlap"
                    style="
                        margin: 0;
                        padding: 0;
                        border: 0;
                        font: inherit;
                        font-size: 100%;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    ">
                    <div class="rectangle"
                        style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: absolute;
                            width: 100%;
                            height: 186px;
                            top: 0;
                            left: 0;
                            background-color: #232323;
                        "
                    ></div>
                    <img class="image"
                        alt=""
                        th:src="@{${staticResourceHost} + '/email-auth/image/2x.png'}"
                        style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: absolute;
                            width: 71px;
                            height: 25px;
                            top: 44px;
                            left: 35px;
                        "/>
                        <p class="p"
                            style="
                                margin: 0;
                                padding: 0;
                                border: 0;
                                font: inherit;
                                font-size: 100%;
                                -webkit-font-smoothing: antialiased;
                                box-sizing: border-box;
                                top: 116px;
                                left: 35px;
                                font-family: 'Pretendard-Medium', Helvetica;
                                color: transparent;
                                font-size: 36px;
                                letter-spacing: -1.08px;
                                line-height: 36px;
                                white-space: nowrap;
                                position: absolute;
                                font-weight: 400;
                            ">
            <span class="text-wrapper"
                style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    font-weight: 500;
                    color: #52a55d;
                    letter-spacing: -0.39px;
                    line-height: 26px;
                ">이메일 인증</span>
            <span class="span"
                style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    font-weight: 500;
                    color: #000000;
                    letter-spacing: -0.39px;
                    line-height: 26px;
                "> </span>
            <span class="text-wrapper-2"
                style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    font-family: 'Pretendard-Light', Helvetica;
                    font-weight: 300;
                    color: #ffffff;
                    letter-spacing: -0.39px;
                    line-height: 22.4px;
                ">메일입니다</span>
            </p>
            <div
                                class="group"
                                style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 181px;
              height: 122px;
              top: 68px;
              left: 424px;
            "
                        >
                            <div
                                    class="overlap-group-wrapper"
                                    style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                height: 122px;
              "
                            >
                                <div
                                        class="overlap-group"
                                        style="
                  margin: 0;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  position: relative;
                  width: 185px;
                  height: 129px;
                  top: -4px;
                "
                                >
                                    <img
                                            class="union"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/union.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 65px;
                    height: 36px;
                    top: 61px;
                    left: 26px;
                  "
                                    />
                                    <img
                                            class="vector"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/vector.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 18px;
                    height: 19px;
                    top: 68px;
                    left: 32px;
                  "
                                    />
                                    <img
                                            class="img"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/vector-1.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 20px;
                    height: 21px;
                    top: 67px;
                    left: 31px;
                  "
                                    />
                                    <img
                                            class="group-2"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/group-3189.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 185px;
                    height: 129px;
                    top: 0;
                    left: 0;
                  "
                                    />
                                    <img
                                            class="vector-2"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/vector-2.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 33px;
                    height: 13px;
                    top: 76px;
                    left: 46px;
                  "
                                    />
                                    <img
                                            class="vector-3"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/vector-3.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 18px;
                    height: 19px;
                    top: 85px;
                    left: 125px;
                  "
                                    />
                                    <img
                                            class="vector-4"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/vector-4.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 20px;
                    height: 21px;
                    top: 84px;
                    left: 124px;
                  "
                                    />
                                    <img
                                            class="vector-5"
                                            alt=""
                                            th:src="@{${staticResourceHost} + '/email-auth/image/vector-5.png'}"
                                            style="
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font: inherit;
                    font-size: 100%;
                    -webkit-font-smoothing: antialiased;
                    box-sizing: border-box;
                    position: absolute;
                    width: 27px;
                    height: 20px;
                    top: 81px;
                    left: 141px;
                  "
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <p
                            class="text-wrapper-3"
                            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            width: 551px;
            top: 267px;
            left: 34px;
            font-family: 'Pretendard-Regular', Helvetica;
            color: #232323;
            font-size: 16px;
            letter-spacing: -0.8px;
            line-height: 30px;
            position: absolute;
            font-weight: 400;
          "
                    >
                        안녕하세요 사용자님,<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />인증번호를
                        입력하시면 인증절차가 완료되어 가입을 진행하실 수있습니다.<br
                            style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
                    />인증시간이 만료되었을 경우, 인증번호 재발송을 진행해 주시기 바랍니다.
                    </p>
                    <img
                            class="line"
                            alt=""
                            th:src="@{${staticResourceHost} + '/email-auth/image/line-17.png'}"
                            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            position: absolute;
            width: 588px;
            height: 1px;
            top: 510px;
            left: 35px;
          "
                    />
                    <p
                            class="text-wrapper-4"
                            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            top: 570px;
            left: 34px;
            font-family: 'Pretendard-Regular', Helvetica;
            color: #555555;
            font-size: 12px;
            letter-spacing: -0.6px;
            line-height: 16.8px;
            position: absolute;
            font-weight: 400;
          "
                    >
                        본 메일은 이메일 인증을 위해 발송한 발신 전용 메일입니다.<br
                            style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
                    />문의사항은 고객센터로 문의해주세요.
                    </p>
                    <p
                            class="element"
                            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            position: absolute;
            width: 514px;
            top: 624px;
            left: 34px;
            font-family: 'Pretendard-Regular', Helvetica;
            font-weight: 400;
            color: #949494;
            font-size: 12px;
            letter-spacing: -0.6px;
            line-height: 16.8px;
          "
                    >
                        포에이 | 대표 : 박세진 | 사업자등록번호 : 836-60-00650 | 고객센터 : 1234-1234 | 이메일 : sejin@foradhd.net
                        <br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />주소 : 서울 용선구 청파로 47길
                        90
                    </p>
                    <p
                            class="text-wrapper-5"
                            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            width: 514px;
            top: 677px;
            left: 34px;
            font-family: 'Pretendard-Regular', Helvetica;
            color: #949494;
            font-size: 12px;
            letter-spacing: -0.6px;
            line-height: 16.8px;
            position: absolute;
            font-weight: 400;
          "
                    >
                        이용약관 | 개인정보 취급 방침
                    </p>
                    <div
                            class="view"
                            style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            position: absolute;
            width: 250px;
            height: 48px;
            top: 388px;
            left: 34px;
            background-color: #ffffff;
            border-radius: 56px;
            border: 1px solid;
            border-color: #52a55d;
          "
                    >
                        <div
                                class="text-wrapper-6"
                                style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              width: 187px;
              height: 22px;
              top: 11px;
              left: 30px;
              font-family: 'Pretendard-SemiBold', Helvetica;
              font-weight: 600;
              color: #52a55d;
              font-size: 18px;
              text-align: center;
              letter-spacing: 0;
              line-height: 24px;
              white-space: nowrap;
            "
                        >
                            인증번호 : <span th:text="${authCode}"/>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>
